@media screen and (max-width: 736px) {
  .middle ul.social li {
    margin: 0 0.5em;
  }
}

@media screen and (max-width: 767px) {
  .main-content,
  .layer {
    min-height: 35em;
  }
  .benifit-left-info, .benifit-left-info, .benifit-content {
    text-align: center !important;
    margin-top: 1rem;
}
.benifit-content.row:first-child{
  flex-direction: column-reverse;
}
.benifit-icon {
    text-align: center;
    margin: 0 auto;
}
.test-info {
    padding: 2em 0em 0 0em;
    margin: 0 auto;
    width: 100%;
}
#testimonials, .layer.test {
    min-height: 18em;
}
.main-content, .layer {
    min-height: 35em;
}
#testimonials, .layer.test {
    min-height: 18em;
}
.test-info {
    padding: 2em 0em 0 0em;
    margin: 0 auto;
    width: 100%;
}
}

@media screen and (max-width: 768px) {
  .footer-logo{
    width: 50%;
  }
  .main-content,
  .layer {
    min-height: 35em;
  }
  .banner-info-w3ls {
    /* padding-top: 13em; */
    display: none;
  }
  .middle-right h6 {
    font-size: 14px;
    text-align: left;
}
.main-content, .layer {
    min-height: 35em;
}
.navbar-nav {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0 !important;
  gap: 0;
  width: 100%;
}
.header .container-fluid{
  padding: 0 !important;
}
/* .header{
  position: absolute;
} */
h4.tittle{
  font-size: 30px;
  letter-spacing: 4px;
}
.social{
  margin-bottom: 0.5rem !important;
  padding-left: 0 !important;
    text-align: left;
}
.order-info{
  position: absolute;
  left: -50px;
  bottom: 0;
  width: 100%;
        text-wrap: nowrap;
}
section{
  padding: 40px 0;
}

#about p{
  font-size: 14px;
}
.logo{
  width: 135px;
  padding: 0;
}
.middle ul.social li a{
  height: 10px;
  width: 10px;
}
.navbar-collapse.show {
  background-color: #f8f9fa; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 15px 9px; 
  transition: all 0.3s ease-in-out; 
}

.navbar-collapse.show .nav-link {
  color: #333; 
  font-size: 1.1rem; 
  padding: 10px 15px; 
} 
.navbar-nav .nav-link {
  font-size: 16px; 
}
.main-content, .layer{
  min-height: 20rem !important;
  height: 20rem;
}
.main-content .carousel-item img{
  height: 20rem;
}
.benefit-res-mob{
  flex-direction: column-reverse !important;
}
}
@media (min-width: 991px)  {
  .navbar-expand-lg .navbar-nav .nav-link{
    padding: 0 !important;
  }
}
@media (max-width: 991px) {
  
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }
  .toggle {
    display: block;
    padding: 6px 15px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    float: right;
    margin-right: 0em;
    background-color: #fff;
    color: #1b1d1d;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer !important;
  }
  .toggle + a,
  .menu {
    display: none;
  }
  nav ul li {
    display: block;
    width: 100%;
    padding: 5px 0;
    margin: 0;
  }
  h3.tittle, h3.tittle.two {
    font-size: 2em;
}
/* .ab-content {
    width: 50%;
    float: left;
} */
.ab-content-inner {
    padding: 1rem;
}
.test-info {
    padding: 2em 0em 0 0em;
    margin: 0 auto;
    width: 100%;
}
.asap-w3pvt-footer-logo {
    text-align: center;
}
}

@media screen and (max-width: 1080px) {
  .banner-info-w3ls {
    padding-top: 15em;
  }
  .order-info {
    margin-top: 5em;
  }
}

@media screen and (max-width: 1024px) {
    h3.tittle.order {
        font-size: 1.1em;
    }
    a.read-more {
        padding: 0.8em 1.5em;
    }
    a.btn.thar-four {
        padding: 1em 1em;
    }
    .benefit-img img{
      display: none;
    }
    .benifit-content .row:first-child{
      width: 100%;
      flex-direction: row-reverse;
    }
    .benifit-content .row:nth-child(2){
      width: 100%;
      flex-direction: row-reverse;
    }
    .benifit-content .benefit-res{
      width: 100%;
      flex-direction: row !important;
    }
    
}

@media screen and (max-width: 1280px) {
  .banner-info-w3ls h3 {
    font-size: 2.5rem;
    width: 70%;
  }
}

@media screen and (max-width: 1366px) {
  .main-content,
  .layer {
    /* min-height: 40em; */
  }
  .banner-info-w3ls h3 {
    font-size: 2.5rem;
    width: 62%;
    /* line-height: 70px; */
  }
  .order-info {
    margin-top: 6em;
  }

ul.footer-nav-lavi li a {
    font-size: 0.8em;
}
}
